.DS_Store
.Rhistory
publis/
*.o
*.so
inst/wiki/*.png
inst/wiki/*.md
inst/wiki/*.html
inst/wiki/gaussian/
inst/tmp/old/

*.gz

*.out

*.log

*.aux

*.tex


inst/tmp/testdipole.r

vignettes/gaussian.md

vignettes/gaussian.html
