export(dipole)
export(field_profile)
export(integrand_nr1)
export(integrand_nr2)
export(integrand_nr3)
export(integrand_rad)
export(invert_stack)
export(multilayer)
export(multilayercpp)
export(raman.shift)
export(recursive_fresnel)
export(recursive_fresnelcpp)
export(transmission)
import(Rcpp)
useDynLib(planar)
