export(dipole.direct)
export(dipole.GL)
export(dipole.integrand)
export(dipole)
export(epsAg)
export(epsAu)
export(field.profile)
export(integrand.rad)
export(integrand.radGL)
export(integrand1)
export(integrand1GL)
export(integrand2)
export(integrand2GL)
export(integrand3)
export(invert_incidence)
export(multilayer)
export(multilayer2)
export(radiationGrob)
export(raman.shift)
export(recursive.fresnel)
export(recursive.fresnel2)
export(theme_minimal)
export(transmission)
import(Rcpp)
useDynLib(planar)
